@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --blue:#0288d1;
    --dark: #212121;
    --darkgrey:#292929;
    --ligthgrey: #323232;
    --white:#fff;
    --ligthwhite:#eee;
}

*{
    font-family: 'Nunito', sans-serif;
    transition: all 0.3s linear;
}

*::selection{
    background: var(--blue);
    color:var(--ligthwhitewhite);
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background: var(--dark);
}

html::-webkit-scrollbar-thumb{
    background: var(--blue);
}

body{
    background: var(--dark);
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding: 1rem;
}

.btn{
    padding: 0.7rem 3rem;
    background-color: var(--ligthgrey);
    color: var(--white);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn:hover{
    background-color: var(--blue);
    color: var(--white);
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: 0.1rem solid var(--ligthgrey);
    color: var(--white);
}

.heading span{
    color: var(--blue )
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: var(--darkgrey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.5rem solid var(--blue);
}

header .user .name {
    font-size: 3.5rem;
    color:var(--white);
}

header .user .post{
    font-size: 2rem;
    color:var(--ligthwhite);
    font-weight: 200;
}

header .navbar{
    width: 100%;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    background: var(--ligthgrey);
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    color: var(--white);
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background: var(--blue);
}

#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: var(--ligthgrey);
    color: var(--white);
    font-size: 2.5rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 5rem;
    color: var(--white);
}

.home h1{
    font-size: 5rem;
    color: var(--white);
}

.home h1 span{
    font-size: 5rem;
    color: var(--blue);
}

.home p{
    font-size: 2rem;
    color: var(--ligthwhite);
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info{
    padding: 2rem 1rem;
    padding-left: 6rem;
}
.info__link{
    text-decoration: none;
    color: var(--white);
}


.about .row .info h3{ 
    font-size: 2rem;
    color: var(--blue);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info span{ 
    color: var(--white);
    padding: 0 0.5rem;
}

.about .row .counter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width: 20rem;
    background: var(--ligthgrey);
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: var(--blue);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: var(--white);
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width: 35rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: 0.2rem solid var(--white);
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background-color: var(--darkgrey);
    color: var(--white);
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color: var(--white);
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color: var(--ligthwhite);
    padding: 1rem 0;
}
.education .box-container .box i{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    background: var(--blue);
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:33rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box img:hover{
    transform: scale(1.2);
}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }

    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width:1010px){
    .education .box-container .box{
        width: 100%;
    }
}

@media (max-width:900px){
    header{
        left: -120%;
        transition: all 0.4s linear;
    }

    #menu{
        display: block;
        transition: all 0.4s linear;
    }

    .toggle{
        opacity: 0.99;
        left: 0%;
        transition: all 0.4s linear;
    }

    body{
        padding: 0;
    }
    .education .box-container .box{
        width: 27rem;
    }
    .portfolio .box-container .box{
        width: 50%;
    }
    .portfolio .box-container .box{
        width: 80%;
    }
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row .content .title{
    text-transform: uppercase;
    color: var(--white);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--ligthwhite);
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--blue);
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding: 1rem;
    margin: 1rem 0;
    background: var(--darkgrey);
    color: var(--white);
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}












@media (max-width:768px){
    html{
        font-size: 50%;
    }
    .home{
        padding: 1rem 2rem;
    }
    .portfolio .box-container .box{
        width: 80%;
    }
}

@media (max-width:520px){
    header{
        width: 100vw;
    }
    .home{
        padding: 2rem;
    }

   .home h1, .home h1 span{
       font-size: 4rem;
   } 
    html{
        font-size: 40%;
    }

    .btn-cv{
        margin-top: 2.5rem;
        text-align: center;
    }

    .box h3{
        margin-top: 1.5rem;
        font-weight: 100;
    }

    .heading{
        margin: 0 3rem;
    }

    .about .row .counter .box{
        width: 70%;
    }

    .education .box-container .box{
        width: 100%;
    }
    .portfolio .box-container .box{
        width: 100%;
    }
    .contact .row form{
        margin: 3rem 0;
    }
}